<div class="task-container" [@simpleFadeAnimation]="'create'">
  <i class="fas fa-thumbtack pinned" *ngIf="task.isPinned"></i>
  <label class="label">
    <input type="checkbox" class="checkbox" [(ngModel)]="task.isCompleted" />
    <div class="check"><i class="fas fa-check"></i></div>
    <div class="fake"></div>
  </label>
  <div class="task-controls">
    <div class="task">
      <div class="title">{{ task.title }}</div>
      <div class="description" *ngIf="task.description">
        {{ task?.description }}
      </div>
    </div>
    <div
      class="task_menu"
      #dropMenu
      (mouseenter)="dropDownMenu()"
      (mouseleave)="hideDropDown()"
    >
      <i class="fas fa-ellipsis-h"></i>

      <ul class="drop-down" *ngIf="isOpen" [@show]>
        <li (click)="pinTask()">
          <i class="fas fa-thumbtack"></i>
          {{ task.isPinned ? "Unpin" : "Pin on the top" }}
        </li>
        <li><i class="fas fa-sticky-note"></i> Add a memo</li>
        <li (click)="deleteTask()"><i class="fas fa-trash-alt"></i> Delete</li>
      </ul>
    </div>
  </div>
</div>
