// variables
@import "../../../assets/variables.scss";

.pinned-tasks {
  border-bottom: 2px solid $border-color;
  margin: 1rem 3rem;
  height: 100%;
}

@media all and (max-width: 450px) {
  .pinned-tasks {
    margin: 1rem 1.5rem;
  }
}
