@import "../../assets/variables.scss";
// variables

ul {
  list-style: none;
  height: 50px;
}

li {
  margin: 10px 20px 0px 20px;

  height: 30px;
  width: 60px;

  text-align: center;
  font-weight: 500;
  color: $dark-grey;

  cursor: pointer;

  &.active {
    border-bottom: 3px solid $rose;
    color: $light-grey;
    font-weight: 600;
  }
}

.navigation {
  display: flex;
  justify-content: center;

  padding: 1rem auto;

  border-bottom: 2px solid $border-color;
}
