.tasks-container {
  width: 100%;
  overflow-x: auto;
  max-height: 430px;
  height: auto;
  min-height: 430px;

  margin-bottom: 10px;
}

@media all and (max-width: 550px) {
  .tasks-container {
    max-height: 360px;
    min-height: 360px;
  }
}
